
body {
    background-image: url("jungle-forest.jpg");
    text-align: center;
}
.Opaque{
 background-color: black; 

     

}
h1 {
   text-align: center;
   color: white; 
   background-color: black;
   padding: 0 px;
   display: inline-block;
 
    
}
h3 {
    text-align: center;
   color: white; 
   background-color: black;
   padding: 0 px;
   width: auto;
   margin-left: auto;
   margin-right: auto;
} 
img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
    
}
h2 {
   text-align: center;
   color: white; 
   background-color: black;
   padding: 0 px;
   width: auto;
   margin-left: auto;
   margin-right: auto;
  
}
ol{
    background-color: white;
   display: inline-block; 
}

